# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Dateien\Documents\Eigene Dateien\Studium\Tübingen\Module\Vorkurs Informatik\python_oop\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
